:root {
    --midnightBlue: #16253D;
    --paleBlue: #2924d9;
    --mustardYellow: #ffda44;
    --antonFamily: 'Anton', sans-serif;
    --poppinsFamily: 'Poppins', sans-serif;
}

/*Fixes*/

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    margin: 0;
    background-color: black;
    color: white;
}



/* General  */

body p {
    font-family: var(--poppinsFamily);
    text-align: justify;
}

a {
    text-decoration: none;
    color: var(--paleBlue);
    font-family: var(--poppinsFamily);
}

@media(min-width:768px) {
    a {
        color: var(--mustardYellow);
    }
}

a:hover {
    color: white;
}

strong {
    color: var(--paleBlue);
}

h2, h3 {
    color: var(--mustardYellow);
    font-family: var(--antonFamily);

}

hr {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-style: none;
}

/* Header */

header {
    padding: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(min-width:768px) {
    header {
        padding: 1rem;
        width: auto;
        height: auto;
        display: flex;
        flex-direction:row;
        align-items:none;
        justify-content:space-between;
    }
}

header h1 {
    text-align: center;
}

.socialLogo {
    width: 6rem;
    height: auto;
}

@media(min-width:768px) {
    .socialLogo {
        width: 3rem;
        height: auto;
        margin: 1rem;
    }
}

.mainLogo {
    width: 10rem;
    height: auto;
}

.navButton {
    background-color: var(--mustardYellow);
    color: black;
    width: 100%;
    text-align: center;
    padding: 1rem;
    margin-bottom: 0.5rem;
    font-size: 4rem;
}

@media(min-width:768px) {
    .navButton {
        background-color: black;
        color: var(--mustardYellow);
        width: auto;
        text-align: center;
        padding: 1rem;
        margin-bottom: 0.5rem;
        font-size: 2rem;
    }
}

.navButton:hover {
    cursor: pointer;
    background-color: black;
    color: var(--mustardYellow);
}

@media(min-width:768px) {
    .navButton:hover {
        cursor: pointer;
        background-color: black;
        color: var(--paleBlue);
    }
}

/* Footer */

footer {
    padding: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--mustardYellow);
}

@media(min-width:768px) {
    footer {
        padding: 1rem;
        width: auto;
        height: auto;
        display: flex;
        flex-direction:row;
        align-items:none;
        justify-content:space-between;
    }
}

footer h1 {
    text-align: center;
    color: black;
}

.footerInfo {
    font-size: 1.5rem;
    color: black;
}

footer b {
    color: var(--paleBlue);
}

/* Home */

.homeSection {
    padding: 1rem;
}

.slideImage {
    height: 70rem;
    width: 100%;
    border: 0.5rem solid var(--paleBlue);
    border-radius: 0.5rem;
    object-fit: cover;
}

.certificationGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

@media(min-width:768px) {
    .certificationGrid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.certificationPanel {
    width: 100%;
    height: auto;
    background-color: var(--mustardYellow);
    border: var(--paleBlue) 0.5rem solid;
    border-radius: 0.5rem;
}

.certificationPanel:hover {
    cursor: pointer;
    border: var(--mustardYellow) 0.5rem solid;
    border-radius: 0.5rem;
}

.certificationText {
    text-align: center;
    background-color: var(--paleBlue);
    color: white;
    padding: 1rem;
}

.certificationText:hover {
    cursor: pointer;
    background-color: var(--mustardYellow);
    color: black;
}

#homeServicesGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}


.blackBox {
    background-color: rgba(0, 0, 0, 0.678);
    /* height: 100%;
    width: 100%; */
    height: 50rem;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#homeServiceEin {
    background-image: url(Images/backgroundServices_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 30rem;
    width: 30rem; */
}

#homeServiceZwei {
    background-image: url(Images/backgroundServices_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 30rem;
    width: 30rem; */
}

#homeServiceDrei {
    background-image: url(Images/backgroundServices_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 30rem;
    width: 30rem; */
}

#homeServiceVier {
    background-image: url(Images/backgroundServices_4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 30rem;
    width: 30rem; */
}

/* Gallery Page */

.videoGrid {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media(min-width:768px){
    .videoGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

@media(min-width:1200px){
    .videoGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }
}

#lukePhoto {
    background-image: url(gallery/luke.png);
    height: 50rem;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

@media(min-width:768px){
    #lukePhoto {
        height: auto;
        max-width: 100%;
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
}

#bellaPhoto {
    background-image: url(gallery/1668085118255.webp);
    height: 50rem;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}

@media(min-width:768px){
    #bellaPhoto {
        height: auto;
        max-width: 100%;
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
}

#skyPhoto{
    background-image: url(gallery/1668085118268.webp);
    height: 50rem;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-row: 9 / 10;
    grid-column: 1 / 2;
}

@media(min-width:768px){
    #skyPhoto{
        height: auto;
        max-width: 100%;
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }
}

.galleryVideo {
    height: 50rem;
    width: 50rem;
    border: solid var(--paleBlue);
    border-radius: 2rem;
}

.galleryVideo:hover {
    border: solid var(--mustardYellow);
}

.galleryImage {
    height: auto;
    width: 100%;
    border: solid var(--paleBlue);
    border-radius: 2rem;
    margin-bottom: 1rem;
    filter: opacity(0.5);
}

.galleryImage:hover {
    border: solid var(--mustardYellow);
    filter: opacity(1);
}
